
<button id="add-patient" mat-raised-button (click)="openDialogToAdd()">Add patient</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let patient"> {{patient.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let patient"> {{patient.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef> Birthdate </th>
    <td mat-cell *matCellDef="let patient"> {{patient.birthdate }} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let patient"> {{patient.gender }} </td>
  </ng-container>

  <ng-container matColumnDef="CNP">
    <th mat-header-cell *matHeaderCellDef> CNP </th>
    <td mat-cell *matCellDef="let patient"> {{patient.CNP }} </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef> Phone number </th>
    <td mat-cell *matCellDef="let patient"> {{patient.phoneNumber }} </td>
  </ng-container>

  <ng-container matColumnDef="orderNumber">
    <th mat-header-cell *matHeaderCellDef> Order number </th>
    <td mat-cell *matCellDef="let patient"> {{patient.orderNumber }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let patient"> <button id="edit-button" (click)="openDialogToEdit(patient)">Edit</button> <button id="delete-button" (click)="openDialogToDelete(patient)">Delete</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


