/* You can add global styles to this file, and also import other style files */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
}

button:hover {
  background-color: #aaa;
}

nav a:visited, a:link {
  color: #336699;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

mat-form-field {
  width: 250px !important;
}

.hover-class:hover {
  background-color: crimson;
}

.center {
  justify-content: center;
  display: flex;
}
